<!DOCTYPE hibernate-configuration PUBLIC
				"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
				"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!--数据库连接信息-->
	<!--驱动类-->
	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	<property name="hibernate.connection.username">hibernate</property>
	<property name="hibernate.connection.password">zhaijiaqi</property>
	<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.146.135:1521:orcl</property>
	<!--配置方言-->
	<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	<property name="current_session_context_class">thread</property>
</session-factory>
</hibernate-configuration>